obj/*
externals/*
bin/Debug/*
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Stationeers-PlantsnNutritionRebalance-BepInEx/v16/.suo
*.dll
*.zip
.vs/FuelJetpack/v17/.suo
*.vsidx
*.lock
*.sln
*.v2
*.1
FuelJetpack.csproj.user
Properties/launchSettings.json
